@using OverlapssystemDomain.Entities
@using Overlapssystem.Services
@using Overlapssystem.ViewModels
@using Overlapssystem.Interfaces
@using Microsoft.AspNetCore.Components.Authorization

@inject IEmployeePhoneFacade employeePhoneFacade
@inject IJSRuntime JS

<div name="employee-phone-card">

    <div class="employee-phone-card-header">
        <h2>Telefonliste</h2>

        <AuthorizeView Roles="Administrator">
            <Authorized>
                <button class="btn-plus"
                        @onclick="() => OnAdd.InvokeAsync(DepartmentId)">
                    +
                </button>
            </Authorized>
        </AuthorizeView>
    </div>
    <table class="phone-table">
        <thead>
            <tr>
                <th>Telefonnummer</th>
                <th>Navn</th>
                <th>Test</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var phone in EmployeePhones)
            {
                <tr>

                    <!-- Telefonnummer -->
                    <td>
                        <AuthorizeView>
                            <Authorized>
                                @if (context.User.IsInRole("Medarbejder") || context.User.IsInRole("Administrator"))
                                {
                                    <span>@phone.PhoneNumber</span>

                                    @if (context.User.IsInRole("Administrator"))
                                    {
                                        <input value="@phone.PhoneNumber"
                                               @onchange="async e =>
                                               {
                                                   phone.PhoneNumber = e.Value?.ToString();
                                                   await UpdateEmployeePhone(phone);
                                               }" />
                                    }
                                }
                                else if (context.User.IsInRole("Simpel"))
                                {
                                    <input value="@employeePhoneViewModel.PhoneNumber" disabled />
                                }
                                
                            </Authorized>
                        </AuthorizeView>
                    </td>

                    <!-- Medarbejder navn -->
                    <td>
                        <AuthorizeView>
                            <Authorized>
                                @if (context.User.IsInRole("Medarbejder") || context.User.IsInRole("Administrator"))
                                {
                                    <input value="@phone.EmployeeName"
                                           @onchange="async e =>
                                           {
                                               phone.EmployeeName = e.Value?.ToString();
                                               await UpdateEmployeePhone(phone);
                                           }"
                                             placeholder="Navn" />
                                }
                                else if (context.User.IsInRole("Simpel"))
                                {
                                    <input value="@employeePhoneViewModel.EmployeeName" disabled" />
                                }
                            </Authorized>
                        </AuthorizeView>
                    </td>

                    <!-- Test -->
                    <td>
                        <AuthorizeView>
                            <Authorized>
                                @if (context.User.IsInRole("Medarbejder") || context.User.IsInRole("Administrator"))
                                {
                                    <input type="checkbox"
                                            checked="@phone.Test"
                                            @onchange="async e =>
                                            {
                                                phone.Test = (bool)e.Value;
                                                await UpdateEmployeePhone(phone);
                                            }" />

                                }
                                else if (context.User.IsInRole("Simpel"))
                                {
                                    <input value="@employeePhoneViewModel.Test" disabled" />
                                }
                              </Authorized>
                          </AuthorizeView>
                      </td>

                    <!-- Slet knap kun Admin -->
                    <AuthorizeView Roles="Administrator">
                            <Authorized>
                            <button class="btn-delete"
                                    @onclick="() => OnDelete.InvokeAsync(phone)">
                                Slet
                            </button>
                            </Authorized>
                    </AuthorizeView>
                </tr>
            }
        </tbody>
    </table>
</div>


@code {
    [Parameter]
    public EmployeePhoneViewModel employeePhoneViewModel { get; set; } = new();

    [Parameter]
	public int DepartmentId { get; set; }
	[Parameter]
	public bool IsReadOnly { get; set; } = false;

	[Parameter]
	public EventCallback<int> OnAdd { get; set; }
	[Parameter]
	public EventCallback<EmployeePhoneViewModel> OnDelete { get; set; }

	
	public List<EmployeePhoneViewModel> EmployeePhones { get; set; } = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            EmployeePhones = await employeePhoneFacade.GetEmployeePhonesByDepartment(DepartmentId);
            StateHasChanged();
        }
    }

    public async Task RefreshAsync() 
    {
        EmployeePhones = await employeePhoneFacade.GetEmployeePhonesByDepartment(DepartmentId);
        StateHasChanged();
	}

    public async Task UpdateEmployeePhone(EmployeePhoneViewModel phone) 
    {
        await employeePhoneFacade.UpdateEmployeePhone(phone);
      
	}




}
