@page "/"
@page "/LandingPage"
@rendermode InteractiveServer

@using OverlapssystemDomain.Interfaces
@using OverlapssystemDomain.Entities
@using OverlapssystemDomain.Enums
@using OverlapssytemApplication.Interfaces

@inject IResidentRepository residentRepository
@inject IMedicinRepository medicinRepository
@inject IResidentServices residentServices

<h5>Overlapsseddel</h5>


<!-- Du klikker på knappen og så henter den alle beboere ved at kalde funktion LoadResidentsAsync i ResidentService.cs-->
<button @onclick="residentServices.LoadResidentsAsync">
    Hent alle beboere
</button>

<!-- Hent beboere for specifik afdeling-->
<div>
    <label>Afdelings ID: </label>
    <input type="number" @bind="residentServices.SelectedDepartmentId" />
    <button @onclick="residentServices.LoadResidentsByDepartmentAsync">
        Hent beboere for afdeling
    </button>
</div>

<!-- Du opretter en ny beboer-->
<h5>Opret ny beboer</h5>

<div>
    <label>Navn </label>
    <input @bind="residentServices.NewResident.Name" />
</div>

<div>
    <select @bind="selectedTime">
        @foreach (var t in availableTimes)
        {
            <option value="@t">@t.ToString(@"hh\:mm")</option>
        }
    </select>
    <button @onclick="() => residentServices.AddMedicinTimeAsync(resident, DateTime.Today.Add(selectedTime))">Tilføj medicin tid</button>
</div>

<ul>
    @foreach (var medTime in resident.MedicinTimes)
    {
        <li>
            <input type="checkbox" checked="@medTime.IsChecked"
                   @onchange="() => medicinRepository.ToggleMedicinGivenAsync(medTime)" />
            @medTime.MedicinTime.ToString(@"hh\:mm")
            @if (medTime.MedicinCheckTimeStamp.HasValue)
            {
                <span> - Givet: @medTime.MedicinCheckTimeStamp.Value.ToString("HH:mm")</span>
            }
        </li>
    }
</ul>

<div>
    <label>Status </label>
    <input @bind="residentServices.NewResident.Status" />
</div>

<div>
    <label>Risiko </label>
    <select @bind="residentServices.NewResident.Risiko">
        <option value="@Risiko.Green">Green</option>
        <option value="@Risiko.Yellow">Yellow</option>
        <option value="@Risiko.Red">Red</option>
    </select>
</div>

<!-- Du gemmer en beboer-->
<button @onclick="residentServices.CreateResidentAsync">
    Gem beboer
</button>

<h5>Oversigt over beboere</h5>
<!-- Du gemmer ændringer og sletter en beboer-->
@if (!residentServices.Residents.Any())
{
    <p> Ingen beboere fundet</p>
}
else

{
    <ul>
        @foreach (var resident in residentServices.Residents)
        {
            <li style="margin-bottom: 15px;">
                <div>
                    <label>Navn </label>
                    <input @bind="resident.Name" />
                </div>

                <div>
                    <label>Status </label>
                    <input @bind="resident.Status" />
                </div>

                <div>
                    <label>Risiko </label>
                    <select @bind="resident.Risiko">
                        <option value="@Risiko.Green">Green</option>
                        <option value="@Risiko.Yellow">Yellow</option>
                        <option value="@Risiko.Red">Red</option>
                    </select>
                </div>

                <button @onclick='() => residentServices.SaveResidentAsync(resident)'>
                    Gem ændringer
                </button>

                <button @onclick='() => residentServices.DeleteResidentAsync(resident)'>
                    Slet beboer
                </button>
            </li>
        }
    </ul>
}
@code {
    protected override async Task OnInitializedAsync()
    {
        residentServices.SelectedDepartmentId = 2;
        await residentServices.LoadResidentsByDepartmentAsync();


    }

    private TimeSpan selectedTime;

    private List<TimeSpan> availableTimes = new List<TimeSpan>
    {
        new TimeSpan(8, 0, 0),
        new TimeSpan(12, 0, 0),
        new TimeSpan(18, 0, 0)
    };

    MedicinModel medicin = new MedicinModel();
    ResidentModel resident = new ResidentModel();
}