@using OverlapssystemDomain.Enums
@using OverlapssystemDomain.Entities
@using Overlapssystem.Services
@using OverlapssystemShared

@inject IJSRuntime JS
@inject MedicinApiService medicinApi
@inject PNMedicinApiService PNmedicinApi
@inject ShoppingApiService shoppingApi

<div class="resident-card @GetRiskClass()">
    <!-- Viser UI/design for en beboer-->
    <!-- TOP -->
    <div class="section">
        <label>Vælg status</label>
        <select @bind="Resident.Risiko" class="form-select">
            <option value="@Risiko.Green">Grøn</option>
            <option value="@Risiko.Yellow">Gul</option>
            <option value="@Risiko.Red">Rød</option>
        </select>
    </div>

    <div class="section">
        <input class="form-control" @bind="Resident.Name" />
    </div>

    <div class="section">
        <textarea class="form-control" @bind="Resident.Status"></textarea>
    </div>

    <!-- MEDICIN -->
    <div class="section">
        <div class="section-header">
            <strong>MEDICIN TIDER</strong>
            <button class="btn-plus" @onclick="() => AddMedicinTimeAsync(Resident.ResidentId)">+</button>
        </div>

        <ul>
        @foreach (var med in Resident.MedicinTimes)
        {
                <li>
                    <input type="time"
                           value="@med.MedicinTime?.ToString(@"hh\:mm")"
                           @onchange="async e => {
                           med.MedicinTime = TimeSpan.TryParse(e.Value?.ToString(), out var ts) ? ts : null;
                           await UpdateMedicinTimeAsync(med);
                       }" />

                <input type="checkbox"
                       checked="@med.IsChecked"
                       @onchange="async e => {
                       await medicinApi.SetMedicinChecked(med.MedicinTimeID, (bool)e.Value!);
                       med.IsChecked = (bool)e.Value!;
                                  }" />

                @if (med.IsChecked && med.MedicinCheckTimeStamp.HasValue)
                {
                    <span>
                        Krydset af kl. @med.MedicinCheckTimeStamp.Value.ToString("HH:mm")
                    </span>
                }
                <button class="btn btn-danger btn-sm"
                        @onclick="() => DeleteMedicinTimeAsync(med)">
                    Slet
                </button>
            </li>
            }
                
        </ul>
    </div>


    <!-- PN MEDICIN -->
    <div class="section">
        <div class="section-header">
            <strong>PN MEDICIN</strong>
            <button class="btn-plus"
                    @onclick="() => AddPNMedicinAsync(Resident.ResidentId)">+</button>
        </div>

        <ul>
            @foreach (var pn in Resident.PNMedicin)
            {
                <li>
                    <input type="datetime-local"
                           @bind="pn.PNTime" @bind:after="() => UpdatePNMedicinTimeAsync(pn)" />

                    <textarea class="form-control"
                              @bind="pn.Reason"
                              @bind:after="() => UpdatePNMedicinTimeAsync(pn)"
                              placeholder="Årsag"></textarea>

                    <button class="btn btn-danger btn-sm"
                            @onclick="() => DeletePNMedicin(pn)">
                        Slet
                    </button>
                </li>
            }
        </ul>
    </div>

    <!-- HANDLEDAG -->
    <div class="section">
        <div class="section-header">
            <strong>HANDLEDAG</strong>
            <button class="btn-plus" @onclick="() => SaveNewShopping(Resident.ResidentId)">+</button>
        </div>

        <ul>
            @foreach (var shopping in Resident.Shopping)
            {
                <li>
                    <select @bind="shopping.Day" @bind:after="() => UpdateShopping(shopping)">
                        @foreach (var day in Enum.GetValues<Day>())
                        {
                            <option value="@day">@day</option>
                        }
                    </select>

                    <input type="time"
                           value="@shopping.Time?.ToString(@"hh\:mm")"
                           @onchange="async e => {
                           shopping.Time = TimeSpan.TryParse(e.Value?.ToString(), out var ts) ? ts : null;
                           await UpdateShopping(shopping);
                       }" />

                <input class="form-control"
                       @bind="shopping.PaymentMethod"
                       @bind:after="() => UpdateShopping(shopping)"
                       placeholder="Betalingsmetode" />

                <button class="btn btn-danger btn-sm"
                        @onclick="() => DeleteShopping(shopping.ShoppingID)">
                    Slet
                </button>
            </li>
                        }
        </ul>
    </div>

    <!-- FOOTER -->
    <div class="footer">
        <!-- Får tilføjet brugeradgang senere, så se bort fra knappen for nu -->
        <button class="btn-delete" @onclick="() => ConfirmDeleteAsync()">
            Slet borger
        </button>
    </div>

</div>



@code {
    [Parameter]
    public ResidentModel Resident { get; set; } = new();

    [Parameter]
    public EventCallback<ResidentModel> OnSave { get; set; }

    [Parameter]
    public EventCallback<ResidentModel> OnDelete { get; set; }

    private string GetRiskClass() => Resident.Risiko switch
    {
        Risiko.Green => "green",
        Risiko.Yellow => "yellow",
        Risiko.Red => "red",
        _ => ""
    };


    private async Task ConfirmDeleteAsync()
    {
        var ok = await JS.InvokeAsync<bool>("confirm", "Er du sikker på, at du vil slette denne borger?");

        if (!ok) return;

        await OnDelete.InvokeAsync(Resident);
    }

    private async Task AddMedicinTimeAsync(int residentid)
    {
        AddMedicinTimeDTO addMedicinTimeDTO = new AddMedicinTimeDTO
        {
            ResidentId = residentid,
            MedicinTime = null
        };
        var newId = await medicinApi.AddMedicinTime(addMedicinTimeDTO);

        Resident.MedicinTimes.Add(new MedicinModel
        {
            MedicinTimeID = newId,
            ResidentID = residentid,
            MedicinTime = null,
            IsChecked = false
        });
    }

    private async Task UpdateMedicinTimeAsync(MedicinModel med)
    {
        await medicinApi.UpdateMedicin(med.MedicinTimeID, med);
    }

    private async Task DeleteMedicinTimeAsync(MedicinModel med)
    {

        var ok = await JS.InvokeAsync<bool>("confirm", "Vil du slette denne medicintid?");

        if (!ok) return;

        await medicinApi.DeleteMedicin(med.MedicinTimeID);

        Resident.MedicinTimes.Remove(med);
    }

    private async Task AddPNMedicinAsync(int residentId)
    {
        var addPnMedicinDTO = new AddPNMedicinDTO
        {
            ResidentID = residentId,
            PNTime = null,
            Reason = ""
        };

        var newId = await PNmedicinApi.AddPNMedicinTime(addPnMedicinDTO);

        Resident.PNMedicin.Add(new PNMedicinModel
        {
            PNMedicinID = newId,
            ResidentID = residentId,
            PNTime = null,
            Reason = ""
        });
    }

    private async Task DeletePNMedicin(PNMedicinModel pn)
    {
        var ok = await JS.InvokeAsync<bool>("confirm", "Vil du slette denne PN medicintid?");

        if (!ok) return;

        await PNmedicinApi.DeletePNMedicin(pn.PNMedicinID);
        Resident.PNMedicin.Remove(pn);
    }

    private async Task UpdatePNMedicinTimeAsync(PNMedicinModel pn)
    {
        await PNmedicinApi.UpdatePNMedicin(pn.PNMedicinID, pn);
    }

    private async Task SaveNewShopping(int residentid)
    {

        AddShoppingDTO addshoppingDTO = new AddShoppingDTO
        {
            ResidentID = residentid,
            Day = Day.Monday,
            Time = null,
            PaymentMethod = ""
		};
        var newId = await shoppingApi.SaveNewShopping(addshoppingDTO);

        Resident.Shopping.Add(new ShoppingModel
        {
            ShoppingID = newId,
            ResidentID = residentid,
            Time = null,
            PaymentMethod = ""
		}); 
    }

    private async Task DeleteShopping(int shoppingId)
    {
        var ok = await JS.InvokeAsync<bool>("confirm", "Vil du slette denne indkøbsliste?");
        if (!ok) return;
        await shoppingApi.DeleteShopping(shoppingId);
        var shopping = Resident.Shopping.FirstOrDefault(s => s.ShoppingID == shoppingId);
        if (shopping != null) Resident.Shopping.Remove(shopping);
    }   

    private async Task UpdateShopping(ShoppingModel shoppingModel)
    {
        await shoppingApi.UpdateShopping(shoppingModel.ShoppingID, shoppingModel);
	}
}
