@using OverlapssystemDomain.Enums
@using OverlapssystemDomain.Entities
@using Overlapssystem.Services
@using OverlapssystemShared
@using Overlapssystem.ViewModels
@using Overlapssystem.Interfaces

@inject IJSRuntime JS
@inject IResidentFacade residentFacade



<div class="resident-card @GetRiskClass()">
    <!-- Viser UI/design for en beboer-->
    <!-- TOP 1 -->
    <div class="top-row">
        <select @bind="Resident.Risiko" class="form-select">
            <option value="@Risiko.Green">Grøn</option>
            <option value="@Risiko.Yellow">Gul</option>
            <option value="@Risiko.Red">Rød</option>
        </select>

        <!-- Noget af denne kode, kan samles til én metode -->
        <div class="mood-buttons">
            <button class="@(Resident.Mood == Mood.Happy ? "mood-selected" : "mood-btn")"
                    @onclick="async () => { Resident.Mood = Mood.Happy; await SaveResident(); }">
                😊
            </button>
            <button class="@(Resident.Mood == Mood.Neutral ? "mood-selected" : "mood-btn")"
                    @onclick="async () => { Resident.Mood = Mood.Neutral; await SaveResident(); }">
                😐
            </button>
            <button class="@(Resident.Mood == Mood.Sad ? "mood-selected" : "mood-btn")"
                    @onclick="async () => { Resident.Mood = Mood.Sad; await SaveResident(); }">
                😢
            </button>
        </div>
    </div>
    
    <!-- Opdater navn når man klikker væk -->
    <input class="form-control"
           value="@Resident.Name"
           @onchange="OnNameChanged" />
    
           <!-- Opdater status når man klikker væk -->
    <label class="resident-label">Status</label>
<textarea class="form-control"
          @onchange="OnStatusChanged" placeholder="Udfyld status for beboer">@Resident.Status</textarea>
    
          <!-- Opdater Activity + Family når man klikker væk -->
    <div class="two-column">
        <label class="resident-label">Aktivitet</label>
        <textarea @onchange="OnActivityChanged" placeholder="Udfyld aktivitet">@Resident.Activity</textarea>
        <label class="resident-label">Familie kontakt</label>
        <textarea @onchange="OnFamilyChanged" placeholder="Udfyld familie kontakt">@Resident.Family</textarea>
    </div>
    
          <!-- Opdater ResidentEmployee når man klikker væk -->
    <div class="two-column">
        <label class="resident-label">Beboer ansvarlig</label>
        <textarea class="form-control"
                  placeholder="Skriv medarbejder navn"
                  @onchange="OnResidentEmployeeChanged">@Resident.ResidentEmployee</textarea>
    </div>

    <!-- MEDICIN -->
    <div class="section">
        <div class="section-header">
            <strong>MEDICIN TIDER</strong>
            <button class="btn-plus" @onclick="AddMedicinTimeAsync">+</button>
        </div>

        <ul>
        @foreach (var med in Resident.MedicinTimes)
        {
                <li>
                    <input type="time"
                           value="@med.MedicinTimeText"
                           @onchange="async e => {
                           med.MedicinTimeText = e.Value?.ToString();
                           await UpdateMedicinTimeAsync(med);
                       }" />

                <input type="checkbox"
                       checked="@med.IsChecked"
                       @onchange="async e => {
                       await SetMedicinChecked(med, (bool)e.Value!);
                       med.IsChecked = (bool)e.Value!;
                                  }" />

                @if (med.IsChecked && med.MedicinCheckTimeStampText != null)
                {
                    <span>
                        Krydset af kl. @med.MedicinCheckTimeStampText
                    </span>
                }
                <button class="btn btn-danger btn-sm"
                        @onclick="() => DeleteMedicinTimeAsync(med)">
                    Slet
                </button>
            </li>
            }
                
        </ul>
    </div>


    <!-- PN MEDICIN -->
    <div class="section">
        <div class="section-header">
            <strong>PN MEDICIN</strong>
            <button class="btn-plus"
                    @onclick="AddPNMedicinAsync">+</button>
        </div>

        <ul>
            @foreach (var pn in Resident.PNMedicin)
            {
                <li>
                    <input type="datetime-local"
                           @bind="pn.PNTime" @bind:after="() => UpdatePNMedicinTimeAsync(pn)" />

                    <textarea class="form-control"
                              @bind="pn.Reason"
                              @bind:after="() => UpdatePNMedicinTimeAsync(pn)"
                              placeholder="Årsag"></textarea>

                    <button class="btn btn-danger btn-sm"
                            @onclick="() => DeletePNMedicin(pn)">
                        Slet
                    </button>
                </li>
            }
        </ul>
    </div>

    <!-- HANDLEDAG -->
    <div class="section">
        <div class="section-header">
            <strong>HANDLEDAG</strong>
            <button class="btn-plus" @onclick="AddShopping">+</button>
        </div>

        <ul>
            @foreach (var shopping in Resident.Shopping)
            {
                <li>
                    <select @bind="shopping.Day" @bind:after="() => UpdateShopping(shopping)">
                        @foreach (var day in Enum.GetValues<Day>())
                        {
                            <option value="@day">@day</option>
                        }
                    </select>

                    <input type="time"
                           value="@shopping.TimeText"
                           @onchange="async e => {
                           shopping.TimeText = e.Value?.ToString();
                           await UpdateShopping(shopping);
                       }" />

                <input class="form-control"
                       @bind="shopping.PaymentMethod"
                       @bind:after="() => UpdateShopping(shopping)"
                       placeholder="Betalingsmetode" />

                <button class="btn btn-danger btn-sm"
                        @onclick="() => DeleteShopping(shopping)">
                    Slet
                </button>
            </li>
                        }
        </ul>
    </div>

    <!-- Specialt Event del -->
    <div class="section">
        <div class="section-header">
            <strong>SÆRLIG HÆNDELSE</strong>
            <button class="btn-plus" @onclick="AddSpecialEvent">+</button>
            </div>

            <ul>
            @foreach(var specialEvent in Resident.SpecialEvents)
            {
                <input type="datetime-local"
                       value="@specialEvent.SpecialEventDateTimeText"
                       @onchange="async e => {
                           specialEvent.SpecialEventDateTimeText = e.Value?.ToString();
                           await UpdateSpecialEvent(specialEvent);
                       }" />

                <textarea class="form-control"
                          @bind="specialEvent.SpecialEventNote"
                          @bind:after="() => UpdateSpecialEvent(specialEvent)"
                          placeholder="Udfyld forløb for særlig hændelse"></textarea>

            }
        </ul>
    </div>

    <!-- FOOTER -->
    <div class="footer">
        <!-- Får tilføjet brugeradgang senere, så se bort fra knappen for nu -->
        <button class="btn-delete" @onclick="() => ConfirmDeleteAsync()">
            Slet beboer
        </button>
    </div>

</div>



@code {
    [Parameter]
    public ResidentViewModel Resident { get; set; } = new();

    [Parameter]
    public EventCallback<ResidentViewModel> OnSave { get; set; }

    [Parameter]
    public EventCallback<ResidentViewModel> OnDelete { get; set; }

    private string GetRiskClass() => Resident.Risiko switch
    {
        Risiko.Green => "green",
        Risiko.Yellow => "yellow",
        Risiko.Red => "red",
        _ => ""
    };

    protected override void OnParametersSet()
    {
        Console.WriteLine($"DEBUG Resident.ResidentId = {Resident?.ResidentId}");
        Console.WriteLine($"DEBUG OnSave = {OnSave.HasDelegate}");
        Console.WriteLine($"DEBUG OnDelete = {OnDelete.HasDelegate}");
    }

    // Resident 

    private async Task SaveResident()
    {
        await residentFacade.UpdateResident(Resident);

        // Opdater beboerlisten i parent component
        await OnSave.InvokeAsync(Resident);

    }

    private async Task ConfirmDeleteAsync()
    {
        var ok = await JS.InvokeAsync<bool>("confirm", "Er du sikker på, at du vil slette denne beboer?");

        if (!ok) return;

        await OnDelete.InvokeAsync(Resident);
    }

    // Medicin
    private async Task UpdateMedicinTimeAsync(MedicinViewModel vm)
    {
      
        await residentFacade.UpdateMedicin(vm);
    }
    private async Task AddMedicinTimeAsync()
    {
        Console.WriteLine($"ResidentID = {Resident.ResidentId}");

        if (Resident?.ResidentId <= 0)
        {
            await JS.InvokeAsync<object>(
                "alert",
                "Resident er ikke indlæst korrekt"
            );
            return;
        }

        var vm = new MedicinViewModel
        {
            ResidentID = Resident.ResidentId
        };

        var id = await residentFacade.AddMedicinTime(vm);
        vm.MedicinTimeID = id;

        Resident.MedicinTimes.Add(vm);
    }

    private async Task DeleteMedicinTimeAsync(MedicinViewModel vm)
    {

        var ok = await JS.InvokeAsync<bool>("confirm", "Vil du slette denne medicintid?");

        if (!ok) return;


        await residentFacade.DeleteMedicinTime(vm);

        Resident.MedicinTimes.Remove(vm);
    }

    private async Task SetMedicinChecked(MedicinViewModel vm, bool isChecked)
    {
        
        await residentFacade.SetMedicinChecked(vm, isChecked);
        vm.IsChecked = isChecked;
        if (isChecked)
        {
            vm.MedicinCheckTimeStampText = DateTime.Now.ToString();
        }
        else
        {
            vm.MedicinCheckTimeStampText = null;
        }
    }


    // PN Medicin

    private async Task AddPNMedicinAsync()
    {
        var vm = new PNMedicinViewModel
        {
            ResidentID = Resident.ResidentId,
        };
       
        var id = await residentFacade.AddPNMedicinTime(vm);
        vm.PNMedicinID = id;

        Resident.PNMedicin.Add(vm);

        Console.WriteLine($"ResidentID = {Resident.ResidentId}");

    }

    private async Task DeletePNMedicin(PNMedicinViewModel vm)
    {
        var ok = await JS.InvokeAsync<bool>("confirm", "Vil du slette denne PN medicintid?");

        if (!ok) return;

     

        await residentFacade.DeletePNMedicinTime(vm);
        Resident.PNMedicin.Remove(vm);
    }

    private async Task UpdatePNMedicinTimeAsync(PNMedicinViewModel vm)
    {
       
        await residentFacade.UpdatePNMedicin(vm);
    }

    // Shopping 

    private async Task AddShopping()
    {
        var vm = new ShoppingViewModel
        {
            ResidentID = Resident.ResidentId,
        };
       
        var id = await residentFacade.AddShopping(vm);
        vm.ShoppingID = id;

        Resident.Shopping.Add(vm);
        
    }

    private async Task DeleteShopping(ShoppingViewModel vm)
    {
        var ok = await JS.InvokeAsync<bool>("confirm", "Vil du slette denne handledag?");
        if (!ok) return;
        

        await residentFacade.DeleteShopping(vm);
        
        Resident.Shopping.Remove(vm);
    }

    private async Task UpdateShopping(ShoppingViewModel vm)
    {
       
        await residentFacade.UpdateShopping(vm);
    }

    // Special Event

    private async Task AddSpecialEvent()
    {
       var vm = new SpecialEventViewModel
        {
            ResidentID = Resident.ResidentId,
        };
       
        var id = await residentFacade.AddSpecialEvent(vm);
        vm.SpecialEventID = id;

        Resident.SpecialEvents.Add(vm);
    }
    private async Task UpdateSpecialEvent(SpecialEventViewModel vm)
    {
       
        await residentFacade.UpdateSpecialEvent(vm);
    }

    private async Task DeleteSpecialEvent(SpecialEventViewModel vm)
    {
        var ok = await JS.InvokeAsync<bool>("confirm", "Vil du slette denne særlige hændelse?");
        if (!ok) return;

        await residentFacade.DeleteSpecialEvent(vm);
        Resident.SpecialEvents.Remove(vm);
    }

    private async Task OnNameChanged(ChangeEventArgs e)
    {
        Resident.Name = e.Value?.ToString() ?? "";
        await SaveResident();
    }

    private async Task OnStatusChanged(ChangeEventArgs e)
    {
        Resident.Status = e.Value?.ToString() ?? "";
        await SaveResident();
    }
    private async Task OnActivityChanged(ChangeEventArgs e)
    {
        Resident.Activity = e.Value?.ToString() ?? "";
        await SaveResident();
    }

    private async Task OnFamilyChanged(ChangeEventArgs e)
    {
        Resident.Family = e.Value?.ToString() ?? "";
        await SaveResident();
    }

    private async Task OnResidentEmployeeChanged(ChangeEventArgs e)
    {
        Resident.ResidentEmployee = e.Value?.ToString() ?? "";
        await SaveResident();
    }
    //private async Task SaveResident()
    //{
    //    await OnSave.InvokeAsync(Resident);
    //}

    

    

  

  

    

   

   
   
}
