@using OverlapssystemDomain.Enums
@using OverlapssystemDomain.Entities
@using Overlapssystem.Services
@using OverlapssystemShared

@inject IJSRuntime JS
@inject MedicinApiService medicinApi
@inject PNMedicinApiService PNmedicinApi
@inject ShoppingApiService shoppingApi
@inject SpecialEventApiService specialEventApi

<div class="resident-card @GetRiskClass()">
    <!-- Viser UI/design for en beboer-->
    <!-- TOP 1 -->
    <div class="top-row">
        <select @bind="Resident.Risiko" class="form-select">
            <option value="@Risiko.Green">Grøn</option>
            <option value="@Risiko.Yellow">Gul</option>
            <option value="@Risiko.Red">Rød</option>
        </select>

        <div class="mood-buttons">
            <button class="@(Resident.Mood == Mood.Happy ? "mood-selected" : "mood-btn")"
                    @onclick="async () => { Resident.Mood = Mood.Happy; await SaveResident(); }">
                😊
            </button>
            <button class="@(Resident.Mood == Mood.Neutral ? "mood-selected" : "mood-btn")"
                    @onclick="async () => { Resident.Mood = Mood.Neutral; await SaveResident(); }">
                😐
            </button>
            <button class="@(Resident.Mood == Mood.Sad ? "mood-selected" : "mood-btn")"
                    @onclick="async () => { Resident.Mood = Mood.Sad; await SaveResident(); }">
                😢
            </button>
        </div>
    </div>
    
    <!-- Opdater navn når man klikker væk -->
    <input class="form-control"
           value="@Resident.Name"
           @onchange="OnNameChanged" />
    
           <!-- Opdater status når man klikker væk -->
<textarea class="form-control"
          @onchange="OnStatusChanged" placeholder="Udfyld status for beboer">@Resident.Status</textarea>
    
          <!-- Opdater Activity + Family når man klikker væk -->
    <div class="two-column">
        <textarea @onchange="OnActivityChanged" placeholder="Udfyld aktivitet">@Resident.Activity</textarea>
        <textarea @onchange="OnFamilyChanged" placeholder="Udfyld familie kontakt">@Resident.Family</textarea>
    </div>
    
          <!-- Opdater ResidentEmployee når man klikker væk -->
    <div class="two-column">
        <label class="resident-label">Beboer ansvarlig</label>
        <textarea class="form-control"
                  placeholder="Skriv medarbejder navn"
                  @onchange="OnResidentEmployeeChanged">@Resident.ResidentEmployee</textarea>
    </div>

    <!-- MEDICIN -->
    <div class="section">
        <div class="section-header">
            <strong>MEDICIN TIDER</strong>
            <button class="btn-plus" @onclick="() => AddMedicinTimeAsync(Resident.ResidentId)">+</button>
        </div>

        <ul>
        @foreach (var med in Resident.MedicinTimes)
        {
                <li>
                    <input type="time"
                           value="@med.MedicinTime?.ToString(@"hh\:mm")"
                           @onchange="async e => {
                           med.MedicinTime = TimeSpan.TryParse(e.Value?.ToString(), out var ts) ? ts : null;
                           await UpdateMedicinTimeAsync(med);
                       }" />

                <input type="checkbox"
                       checked="@med.IsChecked"
                       @onchange="async e => {
                       await medicinApi.SetMedicinChecked(med.MedicinTimeID, (bool)e.Value!);
                       med.IsChecked = (bool)e.Value!;
                                  }" />

                @if (med.IsChecked && med.MedicinCheckTimeStamp.HasValue)
                {
                    <span>
                        Krydset af kl. @med.MedicinCheckTimeStamp.Value.ToString("HH:mm")
                    </span>
                }
                <button class="btn btn-danger btn-sm"
                        @onclick="() => DeleteMedicinTimeAsync(med)">
                    Slet
                </button>
            </li>
            }
                
        </ul>
    </div>


    <!-- PN MEDICIN -->
    <div class="section">
        <div class="section-header">
            <strong>PN MEDICIN</strong>
            <button class="btn-plus"
                    @onclick="() => AddPNMedicinAsync(Resident.ResidentId)">+</button>
        </div>

        <ul>
            @foreach (var pn in Resident.PNMedicin)
            {
                <li>
                    <input type="datetime-local"
                           @bind="pn.PNTime" @bind:after="() => UpdatePNMedicinTimeAsync(pn)" />

                    <textarea class="form-control"
                              @bind="pn.Reason"
                              @bind:after="() => UpdatePNMedicinTimeAsync(pn)"
                              placeholder="Årsag"></textarea>

                    <button class="btn btn-danger btn-sm"
                            @onclick="() => DeletePNMedicin(pn)">
                        Slet
                    </button>
                </li>
            }
        </ul>
    </div>

    <!-- HANDLEDAG -->
    <div class="section">
        <div class="section-header">
            <strong>HANDLEDAG</strong>
            <button class="btn-plus" @onclick="() => SaveNewShopping(Resident.ResidentId)">+</button>
        </div>

        <ul>
            @foreach (var shopping in Resident.Shopping)
            {
                <li>
                    <select @bind="shopping.Day" @bind:after="() => UpdateShopping(shopping)">
                        @foreach (var day in Enum.GetValues<Day>())
                        {
                            <option value="@day">@day</option>
                        }
                    </select>

                    <input type="time"
                           value="@shopping.Time?.ToString(@"hh\:mm")"
                           @onchange="async e => {
                           shopping.Time = TimeSpan.TryParse(e.Value?.ToString(), out var ts) ? ts : null;
                           await UpdateShopping(shopping);
                       }" />

                <input class="form-control"
                       @bind="shopping.PaymentMethod"
                       @bind:after="() => UpdateShopping(shopping)"
                       placeholder="Betalingsmetode" />

                <button class="btn btn-danger btn-sm"
                        @onclick="() => DeleteShopping(shopping.ShoppingID)">
                    Slet
                </button>
            </li>
                        }
        </ul>
    </div>

    <!-- Specialt Event del -->
    <div class="section">
        <div class="section-header">
            <strong>Særlig Hændelse</strong>
            <button class="btn-plus" @onclick="() => SaveSpecialEvent(Resident.ResidentId)">+</button>
            </div>

            <ul>
            @foreach(var specialEvent in Resident.SpecialEvent)
            {
                <input type="datetime-local"
                       @bind="specialEvent.SpecialEventDateTime"
                       @bind:after="() => UpdateSpecialEvent(specialEvent)" />

                <textarea class="form-control"
                          @bind="specialEvent.SpecialEventNote"
                          @bind:after="() => UpdateSpecialEvent(specialEvent)"
                          placeholder="Udfyld forløb for særlig hændelse"></textarea>

            }
        </ul>
    </div>

    <!-- FOOTER -->
    <div class="footer">
        <!-- Får tilføjet brugeradgang senere, så se bort fra knappen for nu -->
        <button class="btn-delete" @onclick="() => ConfirmDeleteAsync()">
            Slet beboer
        </button>
    </div>

</div>



@code {
    [Parameter]
    public ResidentModel Resident { get; set; } = new();

    [Parameter]
    public EventCallback<ResidentModel> OnSave { get; set; }

    [Parameter]
    public EventCallback<ResidentModel> OnDelete { get; set; }

    private string GetRiskClass() => Resident.Risiko switch
    {
        Risiko.Green => "green",
        Risiko.Yellow => "yellow",
        Risiko.Red => "red",
        _ => ""
    };


    private async Task OnNameChanged(ChangeEventArgs e)
    {
        Resident.Name = e.Value?.ToString() ?? "";
        await SaveResident();
    }

    private async Task OnStatusChanged(ChangeEventArgs e)
    {
        Resident.Status = e.Value?.ToString() ?? "";
        await SaveResident();
    }
    private async Task OnActivityChanged(ChangeEventArgs e)
    {
        Resident.Activity = e.Value?.ToString() ?? "";
        await SaveResident();
    }

    private async Task OnFamilyChanged(ChangeEventArgs e)
    {
        Resident.Family = e.Value?.ToString() ?? "";
        await SaveResident();
    }

    private async Task OnResidentEmployeeChanged(ChangeEventArgs e)
    {
        Resident.ResidentEmployee = e.Value?.ToString() ?? "";
        await SaveResident();
    }
    private async Task SaveResident()
    {
        await OnSave.InvokeAsync(Resident);
    }

    private async Task ConfirmDeleteAsync()
    {
        var ok = await JS.InvokeAsync<bool>("confirm", "Er du sikker på, at du vil slette denne beboer?");

        if (!ok) return;

        await OnDelete.InvokeAsync(Resident);
    }

    private async Task AddMedicinTimeAsync(int residentid)
    {
        AddMedicinTimeDTO addMedicinTimeDTO = new AddMedicinTimeDTO
        {
            ResidentId = residentid,
            MedicinTime = null
        };
        var newId = await medicinApi.AddMedicinTime(addMedicinTimeDTO);

        Resident.MedicinTimes.Add(new MedicinModel
        {
            MedicinTimeID = newId,
            ResidentID = residentid,
            MedicinTime = null,
            IsChecked = false
        });
    }

    private async Task UpdateMedicinTimeAsync(MedicinModel med)
    {
        await medicinApi.UpdateMedicin(med.MedicinTimeID, med);
    }

  

    private async Task DeleteMedicinTimeAsync(MedicinModel med)
    {

        var ok = await JS.InvokeAsync<bool>("confirm", "Vil du slette denne medicintid?");

        if (!ok) return;

        await medicinApi.DeleteMedicin(med.MedicinTimeID);

        Resident.MedicinTimes.Remove(med);
    }

    private async Task AddPNMedicinAsync(int residentId)
    {
        var addPnMedicinDTO = new AddPNMedicinDTO
        {
            ResidentID = residentId,
            PNTime = null,
            Reason = ""
        };

        var newId = await PNmedicinApi.AddPNMedicinTime(addPnMedicinDTO);

        Resident.PNMedicin.Add(new PNMedicinModel
        {
            PNMedicinID = newId,
            ResidentID = residentId,
            PNTime = null,
            Reason = ""
        });
    }

    private async Task DeletePNMedicin(PNMedicinModel pn)
    {
        var ok = await JS.InvokeAsync<bool>("confirm", "Vil du slette denne PN medicintid?");

        if (!ok) return;

        await PNmedicinApi.DeletePNMedicin(pn.PNMedicinID);
        Resident.PNMedicin.Remove(pn);
    }

    private async Task UpdatePNMedicinTimeAsync(PNMedicinModel pn)
    {
        await PNmedicinApi.UpdatePNMedicin(pn.PNMedicinID, pn);
    }

    private async Task SaveNewShopping(int residentid)
    {

        AddShoppingDTO addshoppingDTO = new AddShoppingDTO
        {
            ResidentID = residentid,
            Day = Day.Monday,
            Time = null,
            PaymentMethod = ""
		};
        var newId = await shoppingApi.SaveNewShopping(addshoppingDTO);

        Resident.Shopping.Add(new ShoppingModel
        {
            ShoppingID = newId,
            ResidentID = residentid,
            Time = null,
            PaymentMethod = ""
		}); 
    }

    private async Task DeleteShopping(int shoppingId)
    {
        var ok = await JS.InvokeAsync<bool>("confirm", "Vil du slette denne handledag?");
        if (!ok) return;
        await shoppingApi.DeleteShopping(shoppingId);
        var shopping = Resident.Shopping.FirstOrDefault(s => s.ShoppingID == shoppingId);
        if (shopping != null) Resident.Shopping.Remove(shopping);
    }   

    private async Task UpdateShopping(ShoppingModel shoppingModel)
    {
        await shoppingApi.UpdateShopping(shoppingModel.ShoppingID, shoppingModel);
    }
    private async Task SaveSpecialEvent(int residentId)
    {
        AddSpecialEventDTO addSpecialEventDTO = new AddSpecialEventDTO
        {
            ResidentID = residentId,
            SpecialEventNote = "",
            SpecialEventDateTime = null
        };
        var newId = await specialEventApi.AddSpecialEvent(addSpecialEventDTO);

        Resident.SpecialEvent.Add(new SpecialEventModel
            {
                SpecialEventID = newId,
                ResidentID = residentId,
                SpecialEventNote = "",
                SpecialEventDateTime = null

            });
    }
    private async Task UpdateSpecialEvent(SpecialEventModel specialEventModel)
    {
        await specialEventApi.UpdateSpecialEvent(specialEventModel.SpecialEventID, specialEventModel);
    }
}
